@using MudBlazor


<MudGrid Class="mt-5 row">
    <MudItem xs="12" sm="12" md="3" Class="d-flex justify-content-center">
        <div>
            <MudLink Href="/"><MudImage Src="images/logo.png" Width="200" Height="120" Alt="Swedish Farm House" Class="rounded-lg" /></MudLink>
            <MudText Typo="Typo.h6" Color="Color.Dark">123 rue St.Catherine,</MudText>
            <MudText Typo="Typo.h6" Color="Color.Dark"> Montreal, Quebec, Canada</MudText>
        </div>
    </MudItem>
        <MudItem xs="12" sm="6" md="3" Class="d-flex justify-content-center">
        <div>
            <div Class="my-5">
                <MudText Typo="Typo.h6" Color="Color.Dark">Get To Know Us</MudText>
            </div>
            <div Class="my-5">
                <MudLink Href="/AboutUs" Color="Color.Dark"><h6>About Us</h6></MudLink>
            </div>
            <div Class="my-5">
                <MudLink Href="/Careers" Color="Color.Dark"><h6>Careers</h6></MudLink>
            </div>
            <div Class="my-5">
                <MudLink Href="/Promotions" Color="Color.Dark"><h6>Promotions</h6></MudLink>
            </div>
        </div>
    </MudItem>
    <MudItem xs="12" sm="6" md="3" Class="d-flex justify-content-center">
        <div>
            <div Class="my-5">
                <MudText Typo="Typo.h6" Color="Color.Dark">Join Us</MudText>
            </div>
            <div Class="my-5">
                <MudLink Href="/AboutUs" Color="Color.Dark"><h6>Become a merchant</h6></MudLink>
            </div>
            <div Class="my-5">
                <MudLink Href="/Careers" Color="Color.Dark"><h6>Become a driver</h6></MudLink>
            </div>
        </div>
    </MudItem>
    <MudItem xs="12" sm="12" md="3" Class="d-flex justify-content-center">
        <MudIconButton Icon="@Icons.Custom.Brands.Facebook" Style="color:rgba(112, 0, 0, 1);" Size="Size.Large" />
        <MudIconButton Icon="@Icons.Custom.Brands.Twitter" Style="color: rgba(112, 0, 0, 1);" Size="Size.Large" />
        <MudIconButton Icon="@Icons.Custom.Brands.Instagram" Style="color:rgba(112, 0, 0, 1);" Size="Size.Large" />
        <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Style="color: rgba(112, 0, 0, 1);" Size="Size.Large" />
    </MudItem>
</MudGrid>




@code {


}