<h3>RecentOrder</h3>

@code {
    [Parameter]
    public string Id { get; set; }

    protected override void OnInitialized()
    {
        // 使用 Id 参数进行一些操作
        Console.WriteLine($"Selected restaurant ID: {Id}");
    }

    bool _expanded = false;

    private void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
    }

}

